@layer reset {
    *,
    *::after,
    *::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      margin: unset;
    }
    button,
    input,
    textarea,
    select {
      font: inherit;
    }
    img,
    picture,
    svg,
    canvas {
      /* display: block; */
      max-inline-size: 100%;
      block-size: auto;
    }
    @media (prefers-reduced-motion: reduce) {
      *,
      *::before,
      *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
      }
    }
}
:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --font-family:"Manrope", sans-serif;
}
body{
    background-color: var(--Light-Grayish-Blue);
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper{
    max-width: 22rem;
    margin-inline: auto;
    border-radius: 8px;
    overflow: hidden;
    /* background-color: #fff; */
    font-family: var(--font-family);
    position: relative;
}
.img img{
  position: relative;
  z-index: -1;
  top: 55px;
  border-radius: 8px;
}
.content{
    padding: 2rem 1.5rem 1rem 1.5rem;
    background-color: #fff;
}
.active{
  padding: 2rem 1.7rem 3rem 1.7rem;
}
.content main{
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}
.content>p{
  font-size: 0.8125rem;
  color: var(--Desaturated-Dark-Blue);
  font-weight: 500;
  margin-bottom: 1.3rem;
}
.profile-wrapper{
  display: flex;
  /* display: none; */
  gap: 1.3rem;
  align-items: center;
}
.profile img{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.share-active-state{
  display: none;
  background-color: var(--very-dark-grayish-blue);
  position: absolute;
  padding: 1rem 2rem 1rem 1.5rem;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3.5rem;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}
.links{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.links > span{
  color: var(--Grayish-Blue);
  padding-right: 0.6rem;
}
.share-active-state button{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: var(--Desaturated-Dark-Blue);
  cursor: pointer;
}
.share-active-state .share-icon path{
  fill: #fff;
}
.share-hide{
  margin-left: 3rem;
}
.share-btn{
  position: absolute;
  bottom: 20px;
  right: 25px;
  border-radius: 50%;
  border: none;
  width: 2rem;
  height: 2rem;
}
.share-btn:hover{
  cursor: pointer;
  background-color: var(--Desaturated-Dark-Blue);
}
/* change color of SVG. use inline SVG */
.share-btn:hover .share-icon path{
  fill: #fff;
}
.credentials p:first-child{
  font-size: 0.8125rem;
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}
.credentials p:nth-child(2){
  color: var(--Desaturated-Dark-Blue);
  font-size: 0.8125rem;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media screen and (min-width:700px) {
  .wrapper{
    display: flex;
    max-width: 630px;
  }
  .img img{
    max-width: 250px;
    top: 0px;
    bottom: 0px;
    left: 50px;
    height: 240px;
  }
  .content{
    padding: 1rem 2rem 0.5rem 2rem;
    height: 240px;
    border-radius: 0 0 8px 0;
  }
  .content main{
    margin-bottom: 0.3rem;
  }
}